{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

          <div id="middle">
<table class="table table-striped">

    <thead>
        <tr> <!-- name of column ROW1 -->
            <th>Symbol</th> <th>Name</th> <th>Shares</th> <th>Price</th> <th>TOTAL</th>
        </tr>
    </thead>

    <tbody>
    <!-- row 2 -->
    {% for stock in stocks%}
    <tr>
        <td>{{stock["symbol"]}}</td>
        <td>{{stock["name"]}}</td>
        <td>{{stock["shares"]}}</td>
        <td>${{stock["price"]}}</td>
        <td>${{stock["TOTAL"]}}</td>
    </tr>
    {%endfor%}
    
    <!-- row 4: Show Cash  -->
    <tr>
        <td colspan="{{i}}">Cash</td>
        <td>${{cash}}</td>
    </tr>

    </tbody>

</table>
            </div>
{% endblock %}